@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Righteous);
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
/* font-family: 'Playfair Display', serif; */
/* font-family: 'Noto Sans KR', sans-serif; */
/* font-family: 'Archivo Black', sans-serif; */

html {
    overflow-x: hidden;  
}

body {
    font: 12px/1.6 arial;
    color: #111;
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #eff0f2;  
    font-size: 19px;
}

#wrap::before {
    content: '';
    width: 1px;
    height: 550%;
    position: absolute;
    top: 0;
    left: 25%;
    background-color: #b8b8b8; 
}

#wrap::after {
    content: '';
    width: 1px;
    height: 550%;
    position: absolute;
    top: 0;
    left: 49.5%;
    background-color: #b8b8b8; 
}

/* 로고 */
h1 {
    position: fixed;
    top:-5px;
    left: 60px;
    z-index: 99;
    width: 370px;
    height: 100px;
    z-index: 9;
}

/* 메뉴 */
#nav {
    position: fixed;
    top:0%;
    width: 100%;
    background-color:transparent;
    z-index:9999;  
    /* width:500px; */
    text-align: center;
    cursor: pointer;  
}

#nav .depth1 > li {
    display: inline-block;
    position: relative;
    right: -12%;
    font-family: 'Archivo Black', sans-serif;
    font-size: 22px;
 
}

#nav .depth1 > li > a {
    padding: 50px 40px 10px 40px; 
    display: inline-block;
}

#nav .depth1 > li:nth-child(3) a {
    margin-right: 320px;
}

#nav .depth1 > li > .arrow::after {
    padding-right: 21px;
    content: '';
    background: url(../img/arrow_down.png) no-repeat;
    background-size: 15px;
    background-position: 6px center;
}

#nav .depth2 {
    position: absolute; top: 100%; left: 0;
    background-color: #eff0f2; 
    font-size:16px;
    border: 1px solid #777;
    width: 100%; 
    text-align: center; 

    opacity: 0;
    transition: all 0.3s;
}

#nav .depth2 a {
    display: inline-block;
    padding: 5px 0;
}

#nav .depth1 > li.on .depth2 {
    opacity: 1; 
  
}

#nav .depth2 a:hover {
    text-decoration: underline;
}



section {
    width: 100vw; 
    /* height: 100vh; */
    position: relative;
    z-index: 99;
}


#sect1 .main {
    overflow: hidden;
    position: relative;
}
.main .mainText {
    position: absolute;
    font-size: 55px;
    font-weight: bolder;
    top: 160px;
    left: 50px;
    font-family: 'Archivo Black', sans-serif;
}

h3.title {
    font-size: 38px;
    font-weight: bold;
    font-family: 'Archivo Black', sans-serif;
}

.mainText p:nth-child(1):hover,
.mainText p:nth-child(2):hover {
    color: transparent;
    -webkit-text-stroke: 1px #000;
}

.mainText p:nth-child(3) {
    font-size: 28px;
    font-family: 'Georama', sans-serif;
    font-weight: 600;
}

.mainText p:nth-child(3)::after {
    padding-right: 40px;
    content: '';
    background: url(../img/arrow_right.png) no-repeat;
    background-position: 17px center;
}

.mainText span {
    font-size: 40px;
    display: inline-block;
    padding-bottom: 45px;
}

/* sect1 시작 */
#sect1 .mainCol {
    position: absolute;
    bottom: -7%;
    left: 7%;
}

#sect1 .mainCol ul li {
    display: inline-block;
    margin-right: 90px;
    
}

#sect1 .mainCol ul li p {
    width: 380px;
}

#sect1 .mainCol ul li:last-child {
    bottom: 100px;
    position: relative;
}

#sect1 .banner1 {
   float: right;
   width: 45%;
}
/* sect1 끝 */


/* sect2 시작 */
#sect2 {
  z-index: 99;
   position: relative; 
   z-index: 999;
}

#sect2 .titleBox {
    position: absolute;
    top: 150px;
    left: 25%;
}

#sect2 .titleBox .bg {
    width: 100%;
    height: 100%;
    background-color: #eff0f2;
    position: absolute; 
    transition: all 0.8s;
}

#sect2.on .bg {
    width: 0%
}

#sect2 .nbsc {
   float: left;
   width: 500px;
   position: absolute;
   left: 14%;
   top: 24%;
   /* transform: translateX(-200%);
   transition: all 1.4s;
   transition-delay: 0.7s */
}


.nbsc .slideInner1 .slick-arrow {
    position:absolute;
    bottom: 0px;
    right:-50px;
}

.nbsc .slideInner1 .slick-arrow:last-child {
    right: -100px;
}

.nbsc .slideInner1 .slick-arrow img {
    border: 1px solid #555;
    width: 35px;
}

#sect2.on .nbsc {
    /* transform: translateX(0%); */
}

#sect2 .banner2 {
    float: right;
    width: 45%;
}

.class574 .classText {
    width: 420px;
    position: absolute;
    left: 30px;
    top: 74%;
    text-align: right;
}

#sect2 .classText .bg {
    width: 100%;
    height: 100%;
    background-color: #eff0f2;
    position: absolute; 
    transition: all 1.3s;
    transition-delay: 0.7s;
}

#sect2.on .bg {
    width: 0%
}

.class574 .classText .title574 {
    font-size: 38px;
    font-weight: bold;
    font-family: 'Archivo Black', sans-serif;
}

.class574 .classImg {
    width: 465.5px;
    position: absolute;
    left: 24.8%;
    top: 75%;
    overflow: hidden;
    transition: all 0.5s;
    border: 1px solid #888;
}

.class574 .classImg img:hover {
    transform: scale(1.2);
}

/* .classImg .bg {
    width: 100%;
    height: 100%;
    background-color: #eff0f2;
    position: absolute; 
    transition: all 1.3s;
    transition-delay: 1s;
}

#sect2.on .bg {
    width: 0%
} */

/* sect2 끝 */


/* sect3 시작 */
#sect3 {
    position: relative;
}

.best {
    font-size: 20px;
    text-align: left;
    position: absolute;
    left: 5%;
    top: 34%;
    float: left;
    width: 475px;
}

.best h3{
    text-align: right;
    font-size: 50px;
    transform: translateY(100%);
    opacity: 0;
    transition: all 1s;
}

.best span {
    color: transparent;
    -webkit-text-stroke: 1px #000;
}

#sect3.on h3 {
    transform: translateY(0%);
    opacity: 1;
}

.best .slideOuter2 img{
    border: 1px solid #555;
}
.miniSld2 {
    overflow: hidden;
}
.miniSld2 img:hover {
    transform: scale(1.1);
}

.best .icon {
    color: #fff;
    text-align: center;
    width: 85px;
    height: 85x;
    line-height: 85px;
    border-radius: 50%;
    background-color: #000;
    margin-bottom: 20px;
    font-weight: 700;
}

.besti {
    position: absolute;
    top: 22%;
    right: 20px;
}
.best .newi{
    color: #000;
    background-color: #fff;
    position: absolute;
    top: 36%;
    right: 20px;
}

#sect3 .banner3 {
    float: right;
    width: 45%;
}
/* sect3 끝 */


/* sect4 시작 */
#sect4 {
    position: relative;
}
#sect4 h3 {
    writing-mode:vertical-lr;
    position: absolute;
    left: 46%;
    top:180px;
    z-index: 99
}



#sect4 h3:hover {
    color: transparent;
    -webkit-text-stroke: 1px #000;
}
#sect4 .snsImg {
    /* overflow: hidden;float: left;
    width: 45%; */
    position: absolute;
    top:50px;
    left: 30%;
    transform: translateY(100%);
    transition: all 1.3s;
    opacity: 0;
   
}

#sect4 .snsImg ul li,
#sect4 .snsImg2 ul li {
    padding: 5px;
    width: 70%;  
}

#sect4 .snsImg2 {
    /* overflow: hidden;float: left;
    width: 45%; */
    position: absolute;
    top:250px;
    left: 15%;
    transform: translateY(-100%);
    transition: all 1.3s;
    opacity: 0;
}

#sect4.on .snsImg {
    transform: translateY(0%);
    opacity: 1;
}

#sect4 .snsImg2 h4 {
    font-weight: bold;
    font-size: 25px;
}

#sect4 .snsImg2 h4:hover {
    text-decoration: underline;
}

#sect4.on .snsImg2 {
    transform: translateY(0%);
    opacity: 1;
}



#sect4 .banner4 {
    float: right;
    width: 45%;
}
/* sect4 끝 */



/* sect5 시작 */



/* sect6 시작 */

/* sect6 끝 */




footer {
    padding: 100px;
    background: rgb(22, 22, 22);
   width: 100vw;
}



.gotop {
    position: fixed;
    bottom: 50px;
    right: 50px;
    font-size: 20px;
    color: #000;
    z-index: 999;
    opacity: 0;
    transition: all 0.5s;
}

.gotop.on {
    opacity: 1;
}
