@charset "utf-8";


#wrap::before {
    content: '';
    width: 1px;
    height: 530%;
    position: absolute;
    top: 0;
    left: 25%;
    background-color: #b8b8b8; 
}

#wrap::after {
    content: '';
    width: 1px;
    height: 530%;
    position: absolute;
    top: 0;
    left: 49.5%;
    background-color: #b8b8b8; 
}

section {
    /* width: 100vw;  */
    /* height: 100vh; */
    position: relative;
    z-index: 99;
}

/* sect1 시작 */

#sect1 .main {
    overflow: hidden;
    position: relative;
  
}

.main .mainText {
    float: left;
    width: 55%;
    font-size: 55px;
    font-weight: bolder;
    padding: 160px 0 0px 60px;
    font-family: 'Archivo Black', sans-serif;
}

h3.title {
    font-size: 38px;
    font-weight: bold;
    font-family: 'Archivo Black', sans-serif;
}
.mainText p:nth-child(2) {
    padding: 40px 0 35px;
}
.mainText p:nth-child(1):hover,
.mainText p:nth-child(2):hover {
    color: transparent;
    -webkit-text-stroke: 1px #000;
}

.mainText p:nth-child(3) {
    font-size: 28px;
    font-family: 'Georama', sans-serif;
    font-weight: 600;
}

.mainText p:nth-child(3)::after {
    padding-right: 40px;
    content: '';
    background: url(../img/arrow_right.png) no-repeat;
    background-position: 17px center;
}

.mainText span {
    font-size: 40px;
    display: inline-block;
}

#sect1 .mainCol {
    position: absolute;
    top: 65%;
    left: 25%;
}

#sect1 .mainCol ul li {
    display: inline-block;
    margin-right: 90px;
    font-size: 16px;
    width: 210px;
    text-align: right;
}

#sect1 .mainCol ul li p {
    width: 330px; 
}

#sect1 .mainCol ul li strong {
    display: block;
    font-size: 23px;
    font-weight: bold;
}

#sect1 .mainCol ul li span {
    display: block;
    font-weight: bold;
}

#sect1 .mainCol ul li:last-child {
    bottom: 90px;
    left: 20px;
    position: relative;
    text-align: left;
}

#sect1 .banner1 {
   float: right;
   width: 45%;
   height: 100vh;
   position: relative;
   background: url(../img/main1.jpg) no-repeat;
   background-size: cover;
}
/* sect1 끝 */


/* sect2 시작 */
#sect2 {
  position: relative; 
  z-index: 999;
}

#sect2 .nbsc {
   float: left;
   width: 45%;
   /* position: absolute;
   left: 14%;
   top: 9%; */
   transform: translate(200px, 130px);
   /* transform: translateX(-200%);
   transition: all 1.4s;
   transition-delay: 0.7s */
}

.nbsc .titleBox {
    position: relative;
    width: 700px;
    transform: translateX(-100%);
    transition: all 1.3s;
    opacity: 0;
}

#sect2.on .nbsc .titleBox {
    transform: translateX(0%);
    opacity: 1;
}

.nbsc .titleBox h3 {
    margin: 30px 0 50px 295px;
}

.nbsc .desp {
    width: 570px;
}

.nbsc .classText {
    width: 100%;
    text-align: left;
}

.nbsc .classText span {
    display: block;
}

.nbsc .slideOuter1 {
    width: 500px;
}

/* .nbsc .slideInner1 .slick-arrow {
    position:absolute;
    bottom: 0px;
    right:-50px;
}

.nbsc .slideInner1 .slick-arrow:last-child {
    right: -100px;
}

.nbsc .slideInner1 .slick-arrow img {
    border: 1px solid #555;
    width: 35px;
} */

.class574  {
    position: absolute;
    left: 56.5px;
    bottom: -20%;
    overflow: hidden;
}

.classBox .classText {
    width: 420px;
    float: left;
    transform: translateX(-100%);
    transition: all 0.8s;
    transition-delay: 0.7s;
    opacity: 0;
    text-align: right;
    padding-right: 20px;
    /* position: absolute;
    left: 30px;
    top: 74%;
    text-align: right; */
}

#sect2.on .classBox .classText {
    transform: translateX(0%);
    opacity: 1;
}

.classBox .classText span {
    display: block;
}

.classBox .classImg {
    width: 465.5px;
    float: right;
    overflow: hidden;
    /* position: absolute;
    left: 24.8%;
    top: 75%;
    overflow: hidden;
    border: 1px solid #888; */
}

.class574 .classImg img {
    transition: all 0.5s;
}

.class574 .classImg img:hover {
    transform: scale(1.05);
}

.class574 .classImg a:nth-child(2) {
    display: none;
}

#sect2 .banner2 {
    float: right;
    width: 45%;
}

#sect2 strong {
    font-size: 22px;
    font-weight: bold;
}

#sect2 .desp {
    font-size: 18px;
}

#sect2 .more {
    font-size: 17px;
    color: #fff;
    width: 100%;
    text-align: left;
    margin-top: 20px;
}

#sect2 .more a {
    display: inline-block;
    padding: 10px 20px;  
    background-color: #000; 
    border-radius: 25px;
}

#sect2 .class574 .more {
    text-align: right;
}

/* sect2 끝 */


/* sect3 시작 */
#sect3 {
    position: relative;
}

.best {
    font-size: 20px;
    text-align: left;
    /* position: absolute;
    left: 5%;
    top: 34%; */
    float: left;
    width: 475px;
    transform: translate(95px,430px);
    /* margin: 430px 0 0 95px */
}

.best h3{
    text-align: right;
    font-size: 50px;
    transform: translateY(100%);
    opacity: 0;
    transition: all 1s;
}

.best .newT {
    color: transparent;
    -webkit-text-stroke: 1px #000;
}

#sect3.on h3 {
    transform: translateY(0%);
    opacity: 1;
}

.slick-arrow img {
    border: 1px solid #555;
}

.miniSld2 .imgBox{
    overflow: hidden;
    border: 1px solid #555;
}

.miniSld2 img {
    transition: all 0.8s;
}

.miniSld2 img:hover {
    transform: scale(1.1);
}

.miniSld2 .price {
    color: #777;
    font-size: 14px;
    padding-left: 4px;
}

.best .icon {
    color: #fff;
    text-align: center;
    width: 85px;
    height: 85px;
    line-height: 85px;
    border-radius: 50%;
    background-color: #000;
    margin-bottom: 20px;
    font-weight: 700;
}

.besti {
    position: absolute;
    top: 22%;
    right: 20px;
}

.best .newi{
    color: #000;
    background-color: #fff;
    position: absolute;
    top: 36%;
    right: 20px;
}

#sect3 .banner3 {
    float: right;
    width: 45%;
}
/* sect3 끝 */


/* sect4 시작 */
#sect4 {
    position: relative;
    overflow: hidden;
}

#sect4 .sns {
    float: left;
    width: 55%;
    transform: translate(285px, 260px);
}

#sect4 h3 {
    writing-mode:vertical-lr;
    position: absolute;
    left: 46%;
    top:180px;
    z-index: 99
}

#sect4 h3:hover {
    color: transparent;
    -webkit-text-stroke: 1px #000;
}

#sect4 .snsImg {
    position: absolute;
    top:-200px;
    left: 27.5%;
    transform: translateY(100%);
    transition: all 1.3s;
    opacity: 0;
}

#sect4 .snsImg ul li,
#sect4 .snsImg2 ul li {
    padding: 5px;
    width: 70%;  
}

#sect4 .snsImg2 {
    position: absolute;
    /* top:250px; */
    /* left: 15%; */
    transform: translateY(-100%);
    transition: all 1.3s;
    opacity: 0;
}

#sect4.on .snsImg {
    transform: translateY(0%);
    opacity: 1;
    z-index: 9;
}

#sect4 .snsImg h4 a {
    font-weight: bold;
    font-size: 25px;
    border: 1px solid #222;
    padding: 8px 15px;
    width: 210px;
    display: inline-block;
    border-radius: 30px;
    margin-top: 15px;
}

#sect4 .snsImg h4 a:hover {
    text-decoration: underline;
}

#sect4.on .snsImg2 {
    transform: translateY(0%);
    opacity: 1;
}

#sect4 .banner4 {
    float: right;
    width: 45%;
}
/* sect4 끝 */



