@charset "utf-8";

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset;
}
.row { 
    max-width:1064px;
    margin:150px auto;  
}

#wrap::before {
    content: none
}

#wrap::after {
    content: none
}

#nav {
    background-color: #eff0f2;
    border-bottom: 1px solid #555;
}

.bodytext_area { 
    padding:75px 60px 0px; 
    font-size: 16px;
}

.appForm .info_pilsoo {
    padding-bottom:30px; 
    border-bottom:2px solid #000; 
    font-size:22px; 
    font-weight: 500;
}

.appForm .user_info {
    padding: 100px 0px 30px
}

.appForm .pilsoo_item:before {
    content:"*"; 
    padding-right:8px; 
    position:relative; 
    top:4px; 
    font-weight:bold; 
    font-size:17px; 
}

.appForm .info_pilsoo:before {
    content:none; 
}

.appForm .app_list { 
    padding:15px 0;
    /* border-bottom:1px solid #ddd  */
}

.appForm .app_list li { 
    padding:8px 0
}

.appForm .app_list li:first-child {
    padding-top: 20px;
}

.appForm .app_list li:nth-child(3) {
    padding-bottom: 80px;
}

.appForm .app_list .user {
    padding-top: 30px;
}

.appForm .app_list li .tit_lbl { 
    float:left; 
    width:150px; 
    line-height:42px; 
    font-weight:400; 
    font-size:15px; 
    color: #444;
} 

.appForm .app_list li .app_content {
    float:right; 
    width:770px; 
}       

.appForm input[type=text],
.appForm input[type=password] { 
    height:45px; 
    border:1px solid #ccc; 
    width:100%; 
    padding:0 10px 
}

.appForm input.w160 { 
    width:160px 
}

.appForm .select_common { 
    width:160px; 
    display:inline-block;  
    background:url(../img/ico_selectArr.png) no-repeat 100% 50%;
}

.appForm .select_common select { 
    width:100%; 
    height:45px;
    border:1px solid #ccc; padding:10px;
    appearance: none; 
    background-color:transparent;
 }

.appForm .radio_area,
.appForm .checkbox_area { height:45px;  }    
.appForm .css-radio,
.appForm .css-checkbox { display:none }    
.appForm .css-radio + label,
.appForm .css-checkbox + label { 
    margin-right:15px; 
    /* line-height:45px; */
    padding-left:20px; 
    margin-top:13px; line-height:15px; 
}

.appForm .css-checkbox + label {
    background:url(../img/bg_checkbox.png) no-repeat;
    background-size:15px auto; height:15px; 
    background-position:0 0px;
}

.appForm .css-radio:checked + label { 
    background-position:0 -50px;
}

.appForm .css-checkbox:checked + label { 
    background-position:0 -15px; 
}

.appForm .tit_lbl.nopilsoo { 
    padding-left:17px; 
}

.appForm .btn_line { 
    text-align:center; 
    padding:40px 0 
}

.appForm .btn_line .btn {
    width:340px; 
    height:60px;
    background-color:#33312d;
    border:none; 
    font-size:17px; 
    color:#fff;
    transition: all 0.5s;
}

.appForm ::placeholder {
    font-size:14px; 
    color:#888; 
}

/* 중복체크버튼 */
.appForm .idcheck {
    display:inline-block;
    height:45px; 
    line-height:40px; 
    padding:3px 10px;
    background:#777;
    font-size:14px; 
    color:#fff; 
}
.appForm .app_content .w170 { 
    width:170px; 
}

@media screen and (min-width:801px) and (max-width:1064px) {
    .appForm .app_list li .tit_lbl { 
        float:left; width:20%; line-height:42px; 
        font-weight:bold; font-size:17px; letter-spacing: -2px;} 
    .appForm .app_list li .app_content {float:right; width:80%; } 

}

@media screen and (max-width:800px) {

    .appForm .app_list li { 
        padding:8px 0;
        border-bottom:1px solid #ccc; 
    }
    /* .appForm .app_list li:last-child { border:none } */
    .appForm .app_list li .tit_lbl { 
        float:none; 
        width:100%; 
        line-height:42px; 
        font-weight:bold; 
        font-size:17px; 
        letter-spacing: -2px;
        display:block; 
    } 

    .appForm .app_list li .app_content {
        float:none; 
        width:100%; 
    }

    .appForm input[type=text],
    .appForm input[type=password] {  
        border:none; 
    }

    .appForm textarea { 
        height:130px;  
    }    

    .appForm input.w160 { 
        width:45%; 
        border:1px solid #ccc; 
        float:left 
    }

    .appForm .ico_space { 
        width:10%; 
        float:left; 
        text-align:center; 
        line-height:45px 
    }

    .appForm .select_common { 
        width:100%; 
        display:block; 
        margin:10px 0 3px; 
        float:left; 
    }

    .appForm .css-radio + label,
    .appForm .css-checkbox + label { 
        margin-right:15px; 
        /* line-height:45px; */
        padding-left:20px; 
        margin-top:13px; line-height:15px; 
        margin-left:17px; 
    }

    #nav {
        background-color: #eff0f2;
        border-bottom: 1px solid #555;
    }

    .appForm .app_list li:nth-child(3) {
        padding-bottom: 0px;
        margin-bottom: 80px;
    }

}

