@charset "utf-8";
h1{
    background: url(../img/logo.png) no-repeat;
}

#nav {
    background-color: #fff;
}

#nav .open .bar {
    width: 24px;
    height: 2px;
    background-color: #555;
    position: absolute;
    transition: all 0.4s;
}

#mypage li {
    font-size: 20px;
    color: #555;
    margin-top: 20px;
}


/* loginform */
.row { 
    max-width:550px; 
    margin:240px auto 0px;
}

.loginForm .input p { 
    position:relative; 
    margin:37px 0 24px; 
}

.loginForm .logintext {
    margin: 15px 0 60px;
    font-size: 15px;
}

.loginForm legend {
    display: block;
    font-family: 'Playfair Display', serif; 
    font-weight: bold;
    font-size: 30px;
    color: #3b3834;
}

.loginForm div p input { 
    width:100%; 
    height:36px; 
    border:none; 
    border-bottom:1px solid #000; 
    outline:none;
    font-size: 15px;
}
.loginForm .btn {
    overflow: hidden; 
    padding-top: 20px;
}

.loginForm button { 
    text-align:center;
    font-size: 16px;
    float: left;
    width:49%; 
    margin-right: 5px;
    height:44px; 
    background-color:#33312d; 
    color: white;
    border:none;
    transition: all 0.3s;
}

.loginForm button:last-child {
    margin-right: 0px;
}

.loginForm p.find {
    padding: 10px 0 0px;
    font-size: 15px;
    color: #777;
}

.loginForm .find a {
    padding-right: 15px;
}

.loginForm .find a:hover {
    text-decoration: underline;
}

.login_list { 
    width:550px; 
    margin:30px auto 180px;
    overflow: hidden;
}

.login_wrap .login_list li {
    float: left;
    width: 25%;
}

.login_wrap .login_list li strong {
    display: none;
}

.login_wrap .login_list li a {
    display: inline-block;
    width: 132px;
    height: 44px;
    background-repeat: no-repeat;
    background-size: 38px 38px;
    background-position: center;
}

.login_wrap .login_list li:nth-child(1) a {
    background-image:url(../img/ico_kakao.png);
    background-color:#ffea26; color:#000;
}
.login_wrap .login_list li:nth-child(2) a {
    background-image:url(../img/ico_naver.png);
    background-color:#00c300
}
.login_wrap .login_list li:nth-child(3) a {
    background-image:url(../img/ico_face.png);
    background-color:#405ea9
}
.login_wrap .login_list li:nth-child(4) a {
    background-image:url(../img/ico_google.png);
    background-color:#fff;
    border: 1px solid #cfcfcf;
}





@media screen and (max-width:800px) {
    .login_wrap {
        padding-left: 100px;
    }
    h1 {
        background-size: 40px;
    }

    .loginForm .btn {
        width:520px; 
    }

    .login_wrap .login_list li {
        float: left;
        width:520px; 
    }

    .login_wrap .login_list li a {
        width: 100%;
    }
}