@media screen and (max-width:1800px) {
    h1 {
        background-size: 40px;
        left: 13px;
    }

    section {height: auto;}
    
    h1.on {
        background: url(../img/logo.png) no-repeat;
        background-size: 40px;
    }

    #nav {
        width: 70px;
        height: 100%;
    }

    #nav .open {
        position:fixed; top:50%; left:10px; 
        transform: translateY(-50%);
        z-index:999;  
        width:50px; height:50px;
        text-align: center;
        cursor: pointer;
    }

    #nav .openlist {
        left: 65px;
    }
    
    #nav .open.on + .openlist {
        left: 65px;
        width: 25%;
        border-right: 1px solid #dfdfdf;
        opacity: 1;
    }


    #nav .openlist .list1 {
        padding: 60px 0 40px 40px; 
    }
    #nav .list2 {
        position: static; top:100%; left: 0;
        font-size:16px;
        width: 100%; 
        opacity: 1;
        transition: all 0s;
        display: none;
    }
    

    #nav .list1 > li.on .list2 {
        /* display: block; */
    }

    #mypage {
        position: fixed;
        bottom:35px;
        left:24px;
        z-index: 99;
    }
    
    #mypage li {
        font-size: 19px;
        color: #fff;
        margin-top: 20px;
    }


    

/* footer */
footer .infoBox {
    width: 100%;
    margin: 0 auto;
    color: #acacac;
    font-size: 13px;
    overflow: hidden;
    padding: 60px 50px 40px 150px;
    word-break: keep-all;
}

.infoBox .infoL {
    float: left;
    width: 100%;
    padding: 0 40px;
}

.infoBox .infoR {
    float: left;
    width: 100%;
    padding: 20px 40px;
}

.gotop {
    display: none;
}


    
}



@media screen and (max-width:800px) {
    #nav .open.on + .openlist {
        width: 40%;
    }

    #nav .openlist .list1 {
        padding: 60px 0 40px 20px; 
    }

    .openlist .login {
        padding: 50px 0 0 20px;
    }

    .openlist .login li {
        padding-right: 0px;
        display: block;
    }

    .openlist .login li:first-child::after {
        content:none
    }

    footer .infoBox {
        width: 100%;
        margin: 0 auto;
        color: #acacac;
        font-size: 13px;
        overflow: hidden;
        padding: 60px 0px 40px 90px;
        word-break: keep-all;
    }
    
}