
@media screen and (max-width:1800px) {
    
    #wrap::before {
        content: none
    }
    
    #wrap::after {
        content: none
    }
   

    #sect1 .mainCol {
        display: none;
    }

    .mainText p:nth-child(2) {
        padding: 20px 0 15px;
    }

    .nbsc .titleBox .bg {
        width: 0;
    }

    #sect2 .banner2,
    #sect3 .banner3,
    #sect4 .banner4{
       display: none;
    }

    /* sect2 시작 */
    #sect2 .nbsc {
        float: none;
        width: 100%;
        transform: translate(0, 0);
    }
    
    .nbsc .titleBox {
        position: relative;
        width: 100%;
        text-align: center;
        transform: translateX(0%);
        transition: all 1.3s;
        opacity: 1;
    }
    
    .nbsc .titleBox h3 {
        margin: 160px 0 50px 0px;
    }

    .nbsc .classText {
        width: 100%;
        text-align: center;
    }
    
    .nbsc .desp {
        width: 100%;
        padding: 10px 200px;
    }

    .nbsc .titleBox span {
        display: block;
    }
    
    .nbsc .slideOuter1 {
        width: 500px;
        margin: 0 auto;
    }

    .class574  {
        position: static;
        left: 50%;
        overflow: hidden;
        padding: 100px 0 180px;
    }

    
    .classBox .classText {
        width: 100%;
        transform: translateX(0%);
        opacity: 1;
        float: left;
        text-align: center;
    }

    .classBox .classText span {
        display: inline;
    }    

    .classBox .classText .desp {
        padding: 10px 220px
    }

    .classBox .classImg {
        width: 100%;
        text-align: center;
        float: right;
        overflow: hidden;
        /* position: absolute;
        left: 24.8%;
        top: 75%;
        overflow: hidden;
        border: 1px solid #888; */
    }
    .classBox .classImg img {
        width: 400px;
        padding-top: 20px;
    }
   
    #sect2 .more {
        font-size: 17px;
        color: #fff;
        width: 100%;
        text-align: center;
        margin-top: 0px;
    }
    
    #sect2 .more a {
        display: inline-block;
        padding: 10px 20px;  
        background-color: #000; 
        border-radius: 25px;
    }
    
    #sect2 .class574 .more {
        text-align: center;
    }
    
    .class574 .classImg img:hover {
        transform: scale(1);
    }

    .class574 .classImg a:nth-child(2) {
        display: inline;
        padding-left: 15px;
    }
    
    /* sect2 끝 */


    /* sect3 시작 */
    .best {
        font-size: 20px;
        text-align: left;
        position: relative;
        left: 50%;
        top: 0%;
        float: none;
        width: 475px;
        transform: translate(-50%,0px);
        /* margin: 430px 0 0 95px */
    }

    .best h3{
        text-align: right;
        font-size: 50px;
        transform: translateY(0%);
        opacity: 1;
        transition: all 1s;
    }

    .miniSld2 img:hover {
        transform: scale(1);
    }
/* sect3 끝 */


/* sect4 시작 */
#sect4 {
    position: relative;
    /* overflow: hidden; */
    margin: 100px 0 160px
}

#sect4 .sns {
    float: left;
    width: 100%;
    text-align: center;
    transform: translate(0px, 0px);
}

#sect4 h3 {
    writing-mode: horizontal-tb;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top:0px;
    z-index: 99;
    text-align: center;
    padding-bottom: 20px;
}

#sect4 h3:hover {
    color: #000;
    -webkit-text-stroke: 0px #000;
}

#sect4 .snsImg {
    position: relative;
    top:0px;
    left: 0%;
    transform: translateY(0%);
    transition: all 1.3s;
    opacity: 1;
}

#sect4 .snsImg ul li,
#sect4 .snsImg2 ul li {
    padding: 5px;
    width: 25%;  
    float: left;
}

#sect4 .snsImg2 {
    position: relative;
    /* top:250px; */
    /* left: 15%; */
    transform: translateY(0%);
    transition: all 1.3s;
    opacity: 1;
}

#sect4.on .snsImg2 {
    transform: translateY(0%);
    opacity: 1;
}

#sect4 .snsImg h4 a {
    font-weight: bold;
    font-size: 25px;
    border: 1px solid #222;
    padding: 8px 15px;
    width: 210px;
    display: none;
    border-radius: 30px;
    margin-top: 15px;
}

#sect4 .snsImg h4 a:hover {
    text-decoration: none;
}
/* sect4 끝 */
 
}

@media screen and (max-width:800px) {
    
    .main .mainText {
        display: none;
    }

    #sect1 .banner1 {
        float: right;
        width: 100%;
        height: 100vh;
        position: relative;
        background: url(../img/main1.jpg) no-repeat;
        background-size: cover;
    }

     .nbsc .desp {
        width: 100%;
        padding: 10px 100px;
    }

    .class574 .classImg a:nth-child(2) {
        display: none;
    }

    .classBox .classText .desp {
        padding: 10px 100px
    }

    #sect4 {
        position: relative;
        /* overflow: hidden; */
        margin: 100px 0 100px
    }

    #sect4 .sns {
        float: left;
        width: 100%;
        text-align: center;
        transform: translate(0px, 0px);
        padding: 0 50px;
    }
    

    #sect4 .snsImg ul li,
    #sect4 .snsImg2 ul li {
        padding: 5px;
        width: 50%;  
        float: left;
    }
}